body {
    background-color: #800000;
}


/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    margin: -51px 38px 0px 30px;
}

/* Logo */
.logo img {
    width: 200px;
    height: auto;
}

/* Menu */
.menu {
    display: flex;
    gap: 17px;
    margin-bottom: 35px;
    margin-right: 20px;
}

/* Menu Button */
.button-menu {
    background-color: #3bab5a;
    color: white;
    width: 123px;
    height: 43px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 36px;
    text-decoration: none;
    font-weight: bold;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;

    transition: background-color 0.3s ease;
}

.button-menu:hover {
    transform: scale(1.05);
    background-color: #ffffff;
    color: #2f8f4b;
}



/*  box groups */

.box-group {
    background-image: url(groub\(3\).png);
    background-position: -5px -3px;
    background-size: 1544px;


    height: 1056px;
    width: auto;
}

/* box group */

.groups {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1;
}

.group {
    width: 405px;
    height: 300px;
    background-color: rgb(110, 110, 110);
    border-radius: 15px;
    margin-top: 60px; 

    display: grid;

}

h1 {
    position: relative;
    top: 5px;
    left: 27px;
    font-size: 18px;

}